test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Gateway" type="tns:SMS_Gateway" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SMS_Gateway">
        <s:restriction base="s:string">
          <s:enumeration value="ADVERTISEMENT" />
          <s:enumeration value="PAYMENT" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBulkSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobileNoS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Gateway" type="tns:SMS_Gateway" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBulkSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendBulkSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendBulkSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendBulkSMS" />
  </wsdl:message>
  <wsdl:message name="SendBulkSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendBulkSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSMSSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <wsdl:input message="tns:SendBulkSMSSoapIn" />
      <wsdl:output message="tns:SendBulkSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSSoap" type="tns:SendSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <soap:operation soapAction="http://tempuri.org/SendBulkSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSSoap12" type="tns:SendSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkSMS">
      <soap12:operation soapAction="http://tempuri.org/SendBulkSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS">
    <wsdl:port name="SendSMSSoap" binding="tns:SendSMSSoap">
      <soap:address location="http://10.0.32.43/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSSoap12" binding="tns:SendSMSSoap12">
      <soap12:address location="http://10.0.32.43/SendSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>